<?xml version="1.0"?>
<model>
<!-- Name of model which is displaying in Gazebo -->
<name>Room</name>
<version>1.0</version>
<!-- Model file name -->
<sdf version="1.2">plano.sdf</sdf>
<author>
<name>Lentin Joseph</name>
<email>qboticslabs@gmail.com</email>
</author>
<description>
A test room for performing SLAM
</description>
</model>